@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonnts.com/serenity/");

* {
  font-family: "Montserrat", sans-serif;
}

.navbar-font {
  font-family: "Serenity", "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}
